# Buat file .gitignore
echo "node_modules/" > .gitignore
echo ".env" >> .gitignore
echo ".env.production" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "build/" >> .gitignore
echo "dist/" >> .gitignore
echo ".vercel" >> .gitignore
echo "*.log" >> .gitignore

# Cek isi .gitignore
type .gitignorenode_modules
frontend/node_modules
backend/node_modules
.env
node_modules/
frontend/node_modules/
backend/node_modules/
.env
